/* https://www.w3.org/TR/css-color-4/#hex-notation */

.six-digits {
    color: rgb(0 255 0);
}

.eight-digits.upper-case {
    color: rgba(0 0 255 / 0.75294);
}

.three-digits {
    color: rgb(17 34 51);
}

.four-digits {
    color: rgba(0 0 255 / 0.53333);
}

